{% extends 'base.html.twig' %}

{% block title %}Outing index{% endblock %}

{% block body %}
    <h1>Outing index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Start_at</th>
                <th>End_at</th>
                <th>Distance</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for outing in outings %}
            <tr>
                <td>{{ outing.id }}</td>
                <td>{{ outing.type }}</td>
                <td>{{ outing.startAt ? outing.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ outing.endAt ? outing.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ outing.distance }}</td>
                <td>{{ outing.comment }}</td>
                <td>
                    <a href="{{ path('outing_show', {'id': outing.id}) }}">show</a>
                    <a href="{{ path('outing_edit', {'id': outing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('outing_new') }}">Create new</a>
{% endblock %}
